*{
    border: 1px solid black;
}
html{
    font-size: medium;
}
body{
    margin-top: 2rem;
    margin-left: 20vw;
    margin-right: 20vw;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
}
header>img{
    width: 150px;
    height: 150px;
}
header>h1{
    /* padding-left: 2rem; */
    margin-left: 2rem;
}